$spacer: 40px;

$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
  6: (
    $spacer * 5,
  ),
);

// Bootstrap and its default variables
@import 'bootstrap/scss/bootstrap';
