@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Light-WebXL.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Light-WebXL.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Regular-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Regular-WebS.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-SemiBold-WebXL.woff2') format('woff2'),
    url('/fonts/SuisseIntl-SemiBold-WebXL.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('/fonts/GT-Pressura-Light.woff2') format('woff2'),
    url('/fonts/GT-Pressura-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('/fonts/GT-Pressura-Regular.woff2') format('woff2'),
    url('/fonts/GT-Pressura-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
